.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  a > button {
    margin-top: 1em;
    width: 15em;
    height: 5em;
    border-radius: 5px;

    &:hover {
      border-color: grey;
    }
  }
}
